.wrapper {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #d7d7d7;
  border-bottom: 0;
  margin-top: 10px;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  background-color: #5c8297;
  padding: 30px 0px;
  margin-top: 0px;
  color: white;
}
.add-item {
  position: relative;
  padding-bottom: 0;
}
.add-text {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  margin-left: -6%;
}
.add-item button {
  height: 44px;
  width: 50px;
  margin-top: -16px;
  padding: 5px;
  position: absolute;
  top: 16px;
  right: 8px;
}
.sort-items {
  width: 100%;
  margin-top: 10px;
  display: flow-root;
}
.sort-items div{
  float: left;
  width: 50%;
  padding: 3px 0;
  background-color: #abccba;
  color: #666;

}
.sort-items div:hover {
  background-color: #aaa;
  cursor: pointer;
  color: white;
}
ul {
  margin-top: 0px;
  list-style: none;
  font-size: 20px;
  color: #686868;
  margin-left: -40px;
  margin-bottom: 0px;
}
li {
  border-bottom: 1px solid #bfbfbf;
  background-color: #d7d7d7;
  padding: 10px 0px;
  margin-bottom: 5px;
}
li span:last-child {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}
li span:first-child {
  cursor: pointer;
  position: relative;
  float: left;
  margin-left: 6%;
}
